@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: var(--dark-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--dark-500);
  font-family: Arial, Helvetica, sans-serif;
}
